---
layout: home
<!-- permalink : /blog/ -->
---
<!-- Post Section-->
<div id="home">
    <section class="row wrap">
      <!-- <ul class="posts" style="list-style:none;padding-left:0;"> -->
          {% for post in paginator.posts %}
          <!-- <li> -->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="responsive-img" src="//www.gstatic.com/mobilesdk/160505_mobilesdk/discoverycards/2x/analytics.png">
                        <a class="btn-floating halfway-fab waves-effect waves-light btn-large red"><i class="material-icons">add</i></a>

                        </div>
                    <div class="card-content">
                        <span class="card-title">{{ post.title }}{{ post.date | date_to_string }}</span>
                        <p>{{ post.content | strip_html | truncatewords:20 }}</p>
                    </div>
                    <div class="card-action">
                        <!-- <div class="blog-btn"> -->
                        <a class="z-dpeth-3 btn btn-size" id="readMore" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

          <!-- </li> -->
          {% endfor %}
      <!-- </ul> -->
    </section>


    {% if paginator.total_pages > 1 %}
    <div class="pagination center">
      <ul class="pagination ">
        {% if paginator.previous_page %}
        <li>
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_left</i></a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_left</i></a>
        </li>
        {% endif %}
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="active"><a href="#!">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
        <li>
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        </li>
        {% endif %} {% endfor %}
        {% if paginator.next_page %}
        <li>
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_right</i></a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="#!"><i class="material-icons">chevron_right</i></a>
        </li>
        {% endif %}
      </ul>

    </div>
    {% endif %}

</div>
