---
layout: default
<!-- permalink : /blog/ -->
---
<!-- Post Section-->
<div id="home">
    <h1 class="thin">Blog Posts</h1>
    <ul class="posts" style="list-style:none;padding-left:0;">
        {% for post in paginator.posts %}
        <li>
            <div class="card">
                <div class="post-image hide">
                    <!-- for image links -->
                </div>

                <div class="inner-container">
                    <div class="card-content">
                        <span class="card-title">{{ post.title }}{{ post.date | date_to_string }}</span>
                        <p>{{ post.content | strip_html | truncatewords:60 }}</p>
                    </div>
                    <div class="card-action">
                        <!-- <div class="blog-btn"> -->
                        <a class="btn btn-size" id="readMore" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% if paginator.total_pages > 1 %}
    <div class="pagination center">
      <ul class="pagination ">
        {% if paginator.previous_page %}
        <li>
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_left</i></a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_left</i></a>
        </li>
        {% endif %}
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="active"><a href="#!">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
        <li>
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        </li>
        {% endif %} {% endfor %}
        {% if paginator.next_page %}
        <li>
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_right</i></a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="#!"><i class="material-icons">chevron_right</i></a>
        </li>
        {% endif %}
      </ul>

    </div>
    {% endif %}

</div>
