<header>
    <nav class="light-blue darker-1">
        <div class="nav-wrapper">
            <a href="{{ site.baseurl }}{% link index.html %}" class="waves-effect waves-light brand-logo center">{{ site.title }}</a>
            <a href="#" data-activates="mobile-demo" class="waves-effect waves-light button-collapse"><i class="material-icons">menu</i></a>
            <div class="fixed-action-btn toolbar">
                <a class="btn-floating btn-large teal lighten-2">
                    <i class="large fa fa-telegram"></i>
                </a>
                <ul>
                    <li class="waves-effect waves-light"><a href="mailto:pump382156@gmail.com"><i class="fa fa-google"></i></a></li>
                    <li class="waves-effect waves-light"><a href="https://www.facebook.com/TheGrim038"><i class="fa fa-facebook"></i></a></li>
                    <li class="waves-effect waves-light"><a href="https://in.linkedin.com/in/shivangbhandari"><i class="fa fa-linkedin"></i></a></li>
                    <li class="waves-effect waves-light"><a href="https://twitter.com/shivang382156"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ site.baseurl }}/about" class="waves-effect waves-light">About</a></li>
                <li><a href="https://www.github.com/Shivang-Bhandari" class="waves-effect waves-light"  style="max-height:65px;"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ site.baseurl }}" class="center">Home</a></li>
                <div class="divider"></div>
                <li><a href="{{ site.baseurl }}/about" class="center">About</a></li>
                <div class="divider"></div>
                <li>
                    <a href="https://github.com/Shivang-Bhandari/" class="center waves-effect waves-light">My Code</a>
                </li>
                <div class="divider"></div>
            </ul>
        </div>
    </nav>
</header>
