---
layout: default
---
<div id="main">
  <section class="bg-gradient-secondary" id="postHero">
    <div class="contain">
      <div class="module-pathfinder__card bg-white">
        <h3 class="topic mb-half turquoise"><a id="topicHighlight">{{ page.title }}</a></h1>
        <h5 class="date mb-half">{{ page.date | date_to_string }}</h3>
      </div>
    </div>

  </section>

  <div id="post">
     <section>
       <h2 class="gray-dark center thin">Post</h2>
       <div class="divider"></div>
       <div class="post">
         {{ content }}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58a69021fbc7de4e"></script>        </div>
     </section>

  </div>
</div>
